@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'DanaFaNum';
    overflow-wrap: break-word;
  }
}

:root {
  --primary: #0086ff;
  --primary-50: #e2f3ff;
  --primary-100: #b9dfff;
  --primary-200: #86cdff;
  --primary-300: #43b8ff;
  --primary-400: #00a7ff;
  --primary-500: #0096ff;
  --primary-600: #0086ff;
  --primary-700: #0072ff;
  --primary-800: #155efc;
  --primary-900: #2d37dd;
  --primary-950: #141DBB;

  --secondary: #262d5d;
  --secondary-50: #e3e5eb;
  --secondary-100: #babdcf;
  --secondary-200: #8e93ae;
  --secondary-300: #656b8d;
  --secondary-400: #484e78;
  --secondary-500: #2b3365;
  --secondary-600: #262d5d;
  --secondary-700: #1f2453;
  --secondary-800: #181c47;
  --secondary-900: #0e0c31;
  --secondary-950: #070621;

  --special-1: #f37321;

  --bg: url('');
  --footer-bg: url('../images/footer-background.jpg');
}

@font-face {
  font-display: swap;
  font-family: 'DanaFaNum';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/DanaFaNum-Regular.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'DanaFaNum';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/DanaFaNum-Medium.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'IRANYeDanaFaNumkan';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/DanaFaNum-Bold.ttf') format('truetype');
}

.Panel_Box .Panel_Box_Content .Panel_UserProfile {
  display: none;
}

.Panel_Box .Panel_Box_Content .Panel_UserInfo {
  width: 100%;
  font-size: 16px;
}

.Panel_Box .Panel_Box_Content .Panel_UserInfo table tbody tr {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-top: 44px;
}

.Panel_Box .Panel_Box_Content .Panel_UserInfo table tbody tr td {
  border: 1px solid var(--Zinc-200, #E4E4E7);
  background: white;
  border-radius: 12px;
  padding: 0px;
  color: var(--Zinc-800, #27272A);
  height: 48px;
  width: 100%;
}

.Panel_Box .Panel_Box_Content .Panel_UserInfo table tbody tr>td:nth-child(1),
.Panel_Box .Panel_Box_Content .Panel_UserInfo table tbody tr>td:nth-child(2) {
  flex-basis: 46%;
}

.Panel_Box .Panel_Box_Content .Panel_UserInfo table tbody>tr:nth-child(1)>td:nth-child(3),
.Panel_Box .Panel_Box_Content .Panel_UserInfo table tbody>tr:nth-child(2)>td:nth-child(3),
.Panel_Box .Panel_Box_Content .Panel_UserInfo table tbody>tr:nth-child(3)>td:nth-child(2),
.Panel_Box .Panel_Box_Content .Panel_UserInfo table tbody>tr:nth-child(4)>td:nth-child(1) {
  flex-basis: 100% !important;
}

.Panel_Box .Panel_Box_Content .Panel_UserInfo table tbody>tr>td>[class^="profile-info-"] {
  color: var(--Zinc-800, #27272A) !important;
}

.Panel_Box .Panel_Box_Content .Panel_UserInfo table tbody>tr>td::before {
  content: "";
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 12px;
  font-weight: 700;
  color: var(--Zinc-500, #71717A);
  white-space: nowrap;
}

.Panel_Box .Panel_Box_Content .Panel_UserInfo table tbody>tr:nth-child(1)>td:nth-child(1)::before {
  content: "نام :";
}

.Panel_Box .Panel_Box_Content .Panel_UserInfo table tbody>tr:nth-child(1)>td:nth-child(2)::before {
  content: "نام خانوادگی :";
}

.Panel_Box .Panel_Box_Content .Panel_UserInfo table tbody>tr:nth-child(1)>td:nth-child(3)::before {
  content: "تلفن :";
}

.Panel_Box .Panel_Box_Content .Panel_UserInfo table tbody>tr:nth-child(2)>td:nth-child(1)::before {
  content: "موبایل :";
}

.Panel_Box .Panel_Box_Content .Panel_UserInfo table tbody>tr:nth-child(2)>td:nth-child(2)::before {
  content: "جنسیت :";
}

.Panel_Box .Panel_Box_Content .Panel_UserInfo table tbody>tr:nth-child(2)>td:nth-child(3)::before {
  content: "تاریخ تولد :";
}

.Panel_Box .Panel_Box_Content .Panel_UserInfo table tbody>tr:nth-child(3)>td:nth-child(1)::before {
  content: "کد پستی :";
}

.Panel_Box .Panel_Box_Content .Panel_UserInfo table tbody>tr:nth-child(3)>td:nth-child(2)::before {
  content: "ایمیل :";
}

.Panel_Box .Panel_Box_Content .Panel_UserInfo table tbody>tr:nth-child(4)>td:nth-child(1)::before {
  content: "آدرس :";
}



.Panel_invoice_List [data-bc-grid="d1"] table[data-bc-table] {
  border-collapse: separate;
  border-spacing: 0 8px;     
}

.Panel_invoice_List [data-bc-grid="d1"] table[data-bc-table]thead[data-sys-thead]{
  border: none;
}

.Panel_invoice_List [data-bc-grid="d1"] table[data-bc-table]thead[data-sys-thead] tr[data-bc-column-title][data-sys-tr]{
  background: transparent;
}

.Panel_invoice_List [data-bc-grid="d1"] table[data-bc-table]thead[data-sys-thead] tr[data-bc-column-title] td[data-sys-th]{
  background: #F4F4F5;
}

.Panel_invoice_List [data-bc-grid="d1"] table[data-bc-table]thead[data-sys-thead] tr[data-bc-column-title] td[data-sys-th]:first-child{
  border-radius: 0 12px 12px 0;
}

.Panel_invoice_List [data-bc-grid="d1"] table[data-bc-table] thead[data-sys-thead] tr[data-bc-column-title] td[data-sys-th]:last-child{
  border-radius: 12px 0 0 12px;
}

.Panel_invoice_List [data-bc-grid="d1"] table[data-bc-table] thead[data-sys-thead] tr[data-bc-filter][data-sys-tr]{
  background: none;
}

.Panel_invoice_List [data-bc-grid="d1"] table[data-bc-table] thead[data-sys-thead] tr[data-bc-filter] td[data-sys-th]:first-child{
  border-radius: 0 12px 12px 0;
}
.Panel_invoice_List [data-bc-grid="d1"] table[data-bc-table] thead[data-sys-thead] tr[data-bc-filter] td[data-sys-th]:last-child{
  border-radius: 12px 0 0 12px;
}

.Panel_invoice_List [data-bc-grid="d1"] table[data-bc-table] tbody tr[data-sys-tr] td[data-sys-td]{
  border-style: solid;
  border-color: var(--Zinc-200, #E4E4E7);
  border-width: 1px 0;      
}

.Panel_invoice_List [data-bc-grid="d1"] table[data-bc-table] tbody tr[data-sys-tr] td[data-bc-order]{
  border-width: 1px 1px 1px 0; 
  border-radius: 0 12px 12px 0; 
}

.Panel_invoice_List [data-bc-grid="d1"] table[data-bc-table] tbody tr[data-sys-tr] td[data-bc-data]{
  border-width: 1px 0 1px 0;
}

.Panel_invoice_List [data-bc-grid="d1"] table[data-bc-table] tbody tr[data-sys-tr] td[data-sys-td]:last-child{
  border-width: 1px 0 1px 1px; 
  border-radius: 12px 0 0 12px; 
}

.Panel_invoice_List [data-bc-grid="d1"] table[data-bc-table] tbody tr[data-sys-tr] td[data-sys-td]{
  background: #fff;
}
